In [21]:
# Import Splinter and BeautifulSoup

from splinter import Browser

from bs4 import BeautifulSoup as soup

import pandas as pd 

from webdriver_manager.chrome import ChromeDriverManager

In [5]:
#this activates the splinter instance allowing me to watch the script work through a given website(s).

executable_path = {'executable_path': ChromeDriverManager().install()}

browser = Browser('chrome', **executable_path, headless=False)

In [6]:
# Visit the mars nasa news site

url = 'https://redplanetscience.com'

browser.visit(url)

# Optional delay for loading the page

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [7]:
# Now to set up HTML parser:

html = browser.html

news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

In [8]:
slide_elem.find('div', class_='content_title')

In [9]:
# Use the parent element to find the first `a` tag and save it as `news_title`

news_title = slide_elem.find('div', class_='content_title').get_text()

news_title

'NASA Updates Mars 2020 Mission Environmental Review'

In [10]:
# Use the parent element to find the paragraph text

news_p = slide_elem.find('div', class_='article_teaser_body').get_text()

news_p

'NASA and the Department of Energy have completed a more detailed risk analysis for the Mars 2020 rover launch from Florida.'

### Featuredd Images

In [11]:
# Visit URL

url = 'https://spaceimages-mars.com'

browser.visit(url)

In [12]:
# Find and click the full image button - to varify it was valid to use the 'button' tag we searched it and found that 
#there were only 3 instances of this tag and felt safe to procede.The index number tellt he code to hit the second button

full_image_elem = browser.find_by_tag('button')[1]

full_image_elem.click()

In [13]:
# Parse the resulting html with soup (each time we change pages we need to re-parse)

html = browser.html

img_soup = soup(html, 'html.parser')

In [14]:
# Find the relative image url

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')

img_url_rel

'image/featured/mars2.jpg'

In [15]:
# Use the base URL to create an absolute URL 

img_url = f'https://spaceimages-mars.com/{img_url_rel}'

img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [17]:
#Importing a data table from an html website as a pandas DataFrame.

#Creating a new DataFrame from the HTML table.  "0" tells the script to pull the first table it encounters.
df = pd.read_html('https://galaxyfacts-mars.com')[0]

#This line assigns column to data in the DataFrame
df.columns=['Description', 'Mars', 'Earth']

#this turns the 'Description' column into the df index
df.set_index('Description', inplace=True)

df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [18]:
#Pandas has a way to easily convert our DataFrame back into HTML-ready 
#code using the 'to_html() function.' Add this line to the next cell in your 
#notebook and then run the code.

In [19]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
browser.quit()